<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment on News Articles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="ui segment">
            <div><a href="/">Home</a></div>
            <div><a href="./savedArticles">Saved Articles</a></div>
            <div>Clear Articles</div>
        </div>
    </nav>
    <br>
    <img src="../../public/assets/images/five-bulb-lights.jpg">
    <br>
    {{{body}}}
</body>
</html>